Source: lliurex-nextcloud
Section: admin
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), llxsrchelper,zero-dev,python3-poinstaller
Standards-Version: 4.1.2
Homepage: http://lliurex.net

Package: lliurex-nextcloud
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, n4d, python3,python3-bcrypt, python3-llxnet, lliurex-sgbd, nextcloud
Description: Nextcloud lliurex configuration
 Scripts and n4d plugins to initialize owncloud

Package: lliurex-nextcloud-installer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zero-center,epi-gtk
Description: Nextcloud installer files
 Contains epi and zero-center fles to install nextcloud

