[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=lliurex-nextcloud
Name[en]=LliureX Nextcloud
Name[es]=LliureX Nextcloud
Name[qcv]=LliureX Nextcloud
Name[ca_ES@valencia]=LliureX Nextcloud
Name[ca_ES.UTF-8@valencia]=LliureX Nextcloud
Comment=Configures Nextcloud
Comment[es]=Configura Nextcloud
Comment[qcv]=Configura Nextcloud
Comment[ca_ES@valencia]=Configura Nextcloud
Comment[ca_ES.UTF-8@valencia]=Configura Nextcloud
Terminal=false
Exec= pkexec lliurex-nextcloud.zmd
Icon=lliurex-nextcloud-setup
Type=Application
GenericName=lliurex-nextcloud
NoDisplay=true
Categories=LliureX-Administration;